/* GERAL*/

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: auto;
  color: #171e26;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* CONTAINER PRINCIPAL*/

header {
  min-height: 100vh;
  background: #f4efeb;
  position: relative;
  overflow: hidden;
}
/* FIGURA GEOMÉTRICA */

header::after {
  content: url("../img/elipse-desktop.svg");
  display: block;
  position: absolute;
  left: 65%;
  top: 40%;
}

/* MENU*/

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 10px 128px 10px;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-menu li + li {
  margin-left: 64px;
}

.nav-menu li:hover {
  font-weight: 700;
  border-bottom: 2px solid #fe0000;
}

.nav-menu li:hover:nth-child(5) {
  font-weight: normal;
  border-bottom: none;
}

.nav-menu ul li:nth-child(6) {
  margin-left: 0;
}

.nav-menu a {
  padding: 5px;
  color: #000;
  display: block;
}

a.logo {
  font-size: 4em;
  font-weight: 700;
  color: #fe0000;
  display: block;
}

.hamburguer {
  display: none;
}

/*MOBILE MENU*/

@media (max-width: 739px) {
  .nav-menu {
    max-width: 100%;
    padding: 20px 0 64px 0;
    margin: 0 10px;
  }

  header:after {
    left: 50%;
    top: 55%;
  }

  .nav-menu ul li {
    display: none;
  }

  .nav-menu ul li:nth-child(6) {
    display: block;
  }

  .nav-menu li:hover {
    font-weight: normal;
    border-bottom: none;
  }

  .hamburguer {
    margin-right: 10px;
    width: 50px;
    display: block;
  }

  a.logo {
    font-size: 3em;
    margin-left: 0;
  }
}

/* INTRO */

.intro-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.texto {
  margin: 0 auto;
}
.texto span {
  font-size: 1.125em;
  border-bottom: 2px solid #fe0000;
}

.texto h1 {
  margin-top: 16px;
  font-size: 4em;
  max-width: 780px;
}

.texto p {
  color: #2e3743;
  margin-top: 32px;
  font-size: 2rem;
  max-width: 700px;
}

.ornamento {
  margin: 32px 0 0 0;
  display: block;
  animation: anima 1s ease-in-out infinite;
}

@keyframes anima {
  to {
    opacity: 0.7;
    transform: scale(1) translateX(20px);
  }
}

/* MOBILE INTRO */
@media (max-width: 739px) {
  .intro-container {
    max-width: 100%;
  }

  .texto span {
    font-size: 0.875em;
  }

  .texto span::after {
    width: 92px;
    height: 2px;
  }

  .texto h1 {
    margin-top: 8px;
    font-size: 3em;
    width: 270px;
  }

  .texto p {
    margin-top: 32px;
    font-size: 1.225em;
    width: 250px;
  }

  .ornamento {
    margin: 32px 0 0 0;
    width: 50px;
  }
}

/* FOOTER */
.redes-sociais {
  padding: 20px 0;
  margin-left: 20px;
}

.redes-sociais-container {
  max-width: 1400px;
  margin: 64px auto 0 auto;
  display: -webkit-flex;
  display: flex;
}

.redes-sociais img {
  width: 25px;
}

.redes-sociais a + a {
  margin-left: 16px;
}

/* FOOTER MOBILE*/

@media (max-width: 739px) {
  .redes-sociais {
    padding: 20px 10px;
  }

  .redes-sociais-container {
    margin: 40px 0 0 0;
  }

  .redes-sociais img {
    width: 25px;
  }

  .redes-sociais a + a {
    margin-left: 16px;
  }
}

/* ENTRE 740 A 898 PARA TABLETS*/

@media (min-width: 739px) and (max-width: 898px) {
  header {
    max-width: 100%;
  }

  header:after {
    left: 50%;
    top: 65%;
  }

  .nav-menu {
    padding: 40px 10px 64px 10px;
    max-width: 1200px;
  }

  .nav-menu li + li {
    margin-left: 32px;
  }

  .intro-container {
    margin-left: 30px;
  }

  .redes-sociais-container {
    max-width: 1200px;
    margin: 64px auto 0 auto;
    display: -webkit-flex;
    display: flex;
  }
}
