* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  background: #f4efeb;
  position: relative;
  overflow: hidden;
}

header::after {
  content: url("../img/elipse\ \(1\).svg");
  display: block;
  position: absolute;
  left: 1000px;
  top: 294px;
}

.nav-menu {
  padding: 20px 0 64px 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-menu li + li {
  margin-left: 4em;
}

.nav-menu li:hover {
  font-weight: 700;
  border-bottom: 2px solid #fe0000;
}

.nav-menu a {
  padding: 5px;
  color: #000;
}

a.logo {
  font-size: 4em;
  font-weight: 700;
  color: #fe0000;
}

.hamburguer {
  display: none;
}

/*MOBILE*/

@media (max-width: 739px) {
  .nav-menu {
    max-width: 100%;
    padding: 20px 0 40px 0;
    margin: 0 10px;
  }

  header:after {
    left: 50%;
    top: 55%;
  }

  .nav-menu ul li {
    display: none;
  }

  .hamburguer {
    margin-right: 10px;
    width: 50px;
    display: block;
  }

  a.logo {
    font-size: 3em;
    margin-left: 0;
  }
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto span {
  font-size: 1.125em;
}

.texto span::after {
  content: "";
  width: 116px;
  display: block;
  height: 2px;
  background: #fe0000;
}

.texto h1 {
  margin-top: 16px;
  font-size: 4em;
  max-width: 780px;
}

.texto p {
  margin-top: 32px;
  font-size: 2em;
  max-width: 700px;
}

.ornamento {
  margin: 32px 0 0 0;
  display: block;
}

@media (max-width: 739px) {
  .intro-container {
    padding: 0 px;
    flex-wrap: wrap;
  }

  .texto span {
    font-size: 0.875em;
  }

  .texto span::after {
    width: 92px;
    height: 2px;
  }

  .texto h1 {
    margin-top: 8px;
    font-size: 3em;
    width: 270px;
  }

  .texto p {
    margin-top: 16px;
    font-size: 1em;
    width: 250px;
  }

  .ornamento {
    margin: 16px 0 0 0;
    width: 50px;
  }
}

.redes-sociais {
  padding: 20px 10px;
  margin-left: 10px;
}

.redes-sociais-container {
  margin: 64px auto 0 auto;
  display: -webkit-flex;
  display: flex;
  align-content: flex-end;
}

.redes-sociais img + img {
  margin-left: 16px;
}

/* ENTRE 740 A 898 */

@media (min-width: 739px) and (max-width: 898px) {
  header {
    max-width: 100%;
  }

  header:after {
    left: 50%;
    top: 65%;
  }

  .nav-menu {
    padding: 32px 0;
  }

  .nav-menu li + li {
    margin-left: 32px;
  }

  .intro-container {
    margin-left: 30px;
  }
}
