* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container-geral {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #f4efeb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 64px 0 128px 0;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
}

header li + li {
  margin-left: 64px;
}

header li:hover:after {
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background: #fe0000;
}

header nav a {
  padding: 5px;
  color: #000;
}

header nav a:hover {
  font-weight: 700;
}

.logo a {
  font-size: 4em;
  font-weight: 700;
  color: #fe0000;
  margin-left: 10px;
}

.hamburguer {
  display: none;
}

/*MOBILE*/

@media (max-width: 739px) {
  .container {
    max-width: 100%;
    overflow: hidden;
  }

  header nav ul li {
    display: none;
  }
  header {
    padding: 40px 0 40px 0;
  }
  .hamburguer {
    margin-right: 10px;
    width: 50px;
    display: block;
  }

  .logo a {
    font-size: 2em;
    margin-left: 10px;
  }
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto span {
  font-size: 1.125em;
}

.texto span::after {
  content: "";
  width: 116px;
  display: block;
  height: 2px;
  background: #fe0000;
}

.texto h1 {
  margin-top: 16px;
  font-size: 4em;
  max-width: 780px;
}

.texto p {
  margin-top: 32px;
  font-size: 2em;
  max-width: 700px;
}

.ornamento {
  margin: 32px 0 0 0;
}

@media (max-width: 739px) {
  .intro-container {
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .texto span {
    font-size: 0.875em;
  }

  .texto span::after {
    width: 92px;
    height: 2px;
  }

  .texto h1 {
    margin-top: 8px;
    font-size: 3em;
    width: 270px;
  }

  .texto p {
    margin-top: 16px;
    font-size: 1em;
    width: 250px;
  }

  .ornamento {
    margin: 16px 0 0 0;
    width: 50px;
  }
}

.elipse img {
  width: 35%;
  height: 100vh;
  position: absolute;
  left: 70%;
  top: 15%;
}

@media (max-width: 739px) {
  .elipse img {
    width: 75%;
    position: absolute;
    left: 45%;
    top: 40%;
  }
}

.redes-sociais {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  margin-left: 10px;
}

.redes-sociais-container {
  max-width: 1200px;
  margin: 64px auto 0 auto;
  display: -webkit-flex;
  display: flex;
  align-content: flex-end;
}

.redes-sociais img + img {
  margin-left: 16px;
}

/* ENTRE 740 A */

@media (min-width: 739px) and (max-width: 898px) {
  .container {
    max-width: 100%;
  }

  header {
    padding: 64px 0;
  }

  header li + li {
    margin-left: 32px;
  }

  .intro-container {
    margin-left: 30px;
  }
  .elipse img {
    width: 75%;
    position: absolute;
    left: 45%;
    top: 20%;
  }
}
